@{
    ViewData["Title"] = "Home Page";
}
<footer id="footer" class="bg-white">


    <div class="footer-top mt-5 footerbg">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-contact text-dark p-5 pb-0">
                    <h3 class="text-dark"><bold>NEXT INVEST</bold></h3>
            <p class="">
            Copyright @@2024 ,Indore.All rights reserved <br><br>
              </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links pt-5 text-dark">
            <h3>Services</h3>
            <ul class="list-unstyled lh-lg">
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="text-decoration-none text-dark  ">Email Marketing</a>
              </li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="text-decoration-none text-dark ">Campaigns
                  </a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#"
                  class="text-decoration-none text-dark ">Branding</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="text-decoration-none text-dark  ">Offline</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links pt-5 text-dark">
            <h3>About</h3>
            <ul class="list-unstyled lh-lg">
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="text-decoration-none text-dark  ">Our Story</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="text-decoration-none text-dark  ">Benefits</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="text-decoration-none  text-dark  ">Teams</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#"
                  class="text-decoration-none  text-dark  ">Career</a></li>
            
            </ul>

           </div>
        </div>
            <div class="row">
                <div class="col-4">
                        <div class="container text-start">
                            <p class="mb-4">Subscribe to Our Newsletter</p>
                            <form class="row justify-content-start">
                                <div class="col-md-4 col-lg-8 mb-3">
                                    <input type="email" class="form-control"  placeholder="Enter your email" required>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary">Subscribe</button>
                                </div>
                            </form>
                        </div>

                </div>
                <div class="col-4"></div>
                <div class="col-lg-4 col-md-4  d-flex ">

                    <div class="">
                        <a href="https://www.instagram.com/accounts/login/" target="_blank"
                           class="instagram  text-danger fs-5 "><i class="fa-brands fa-instagram"></i></a>

                        <a href="https://about.meta.com/?campaign_id=14884913640&extra_1=s%7Cc%7C589460569900%7Cb%7Cfblogin%7C&placement=&creative=589460569900&keyword=fblogin&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696221912%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-10628424768%26loc_physical_ms%3D1007796%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQjw1rqkBhCTARIsAAHz7K2EmjjTtRC9HRe1sBWPbe_Tcc1AdblZ5ofUBSZ0zsWmYdeyPpopvlMaAkVzEALw_wcB"
                           target="_blank" class="facebook text-primary fs-5 ps-2"><i class="fa-brands fa-facebook"></i></a>

                        <a href="https://www.linkedin.com/authwall?trk=qf&original_referer=https://www.google.com/&sessionRedirect=https%3A%2F%2Fin.linkedin.com%2F"
                           target="_blank" class="linkedin text-primary fs-5 ps-2"><i class="fa-brands fa-linkedin"></i></a>
                    </div>

                </div>
            </div>

      </div>
      
    </div>

      
   
  </footer><!-- End Footer -->

